<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ipsum mollit deserunt occaecat velit.</h1>
    <p>Consequat officia aliqua in mollit eu occaecat cupidatat et nulla eiusmod laborum nostrud deserunt excepteur. Magna laborum ullamco nostrud minim voluptate officia dolor mollit. Dolor esse ullamco nulla reprehenderit deserunt labore eiusmod velit elit nisi enim veniam. Velit excepteur laboris non dolore aute. Officia velit eu culpa duis ad et anim. Exercitation velit qui sunt tempor sint anim ut sit eu minim. Occaecat eiusmod ipsum elit mollit consectetur nulla.

Pariatur reprehenderit est laboris ullamco velit nostrud sunt ea ex quis enim. Excepteur incididunt aliqua laboris occaecat et ipsum sunt sunt anim occaecat. Quis deserunt veniam commodo officia nisi occaecat dolore adipisicing elit officia adipisicing duis aliquip ullamco. Ullamco Lorem irure nulla do consectetur aliqua laboris officia. Est cupidatat velit laboris pariatur id dolor. Sint cupidatat veniam velit voluptate sint aliqua cillum duis sint irure id laboris nulla ut.

Laboris esse anim elit elit nisi mollit sint velit irure culpa exercitation. Consectetur officia anim qui magna ullamco. In esse nulla laborum sunt ad qui. Sunt in labore est tempor do Lorem ullamco qui. Ut mollit fugiat sit cillum incididunt magna amet aute elit consectetur nulla pariatur. Velit mollit ea consequat voluptate sit do ut quis.

Dolore consequat dolor irure cupidatat in. Aliquip velit et ad quis consectetur esse minim voluptate enim quis adipisicing dolore sit. Et sit ex sint dolore elit sint veniam. Consectetur cupidatat veniam in aliquip proident. Sit ea pariatur incididunt officia ea officia culpa aliqua voluptate ullamco eu.</p>

    <p><%= nama %></p>
    <p><%= umur %></p>
    <p><%= kelas %></p>

</body>
</html>